#newOption {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 10;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: var(--dark-blue);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newOption:hover {
    background-color: var(--indigo);
}

#newOption:active {
    background-color: var(--darker-blue);
}

#newOption i {
    background-color: transparent;
}

#optionsContainer {
    margin-top: 0.5em;
    height: 50vh;
    border-bottom: 1px solid var(--gray-dark);
}

#chartContainer {
    height: 35vh;
}

#chartContainer canvas {
    margin-bottom: 0.5em;
}

.option {
    border-right: 1px solid var(--gray-dark);
    padding-bottom: 0.5em;
    height: 100%;
    overflow-y: auto;
}

.type-selector, #buySelector {
    background-color: var(--gray);
    border: 1px solid var(--gray-dark);
    transition: all 100ms;
}

.type-selector:hover, #buySelector:hover {
    background-color: var(--d-blue);
    border: 1px solid var(--dark-blue);
    transition: all 300ms;
}

.type-selector.active, #buySelector.active {
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.server-form {
    display: none;
}

.server-form.active {
    display: block;
}

.server-form .row {
    margin-top: 0.2em;
}

.form-label {
    line-height: 95%;
}

.form-label small {
    font-size: 70%;
    color: var(--light-gray);
}

.installment-block {
    display: none;
}

.remove-option {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
    transition: all 300ms;
    cursor: pointer;
}

.remove-option i {
    font-size: 80%;
    color: var(--gray);
}

.remove-option:hover i {
    color: var(--d-red);
    transition: all 300ms;
}

.remove-option:active i {
    color: var(--red);
    transition: all 300ms;
}

#periodSelector {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#convenience {
    font-size: 85%;
    color: var(--light-gray);
}